body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:1.5em;
}

.instructions {
	font-size:.7em;
	padding-top:15px;
}

.scores {
	visibility: hidden;
}

.smText {
	font-size:.5em;
}

.pad10 {
	padding:10px;
}

.pad10-left {
	padding-left: 10px;
}

.width50 {
	width: 50%;
}

.floatLeft {
	float:left;
	text-align:left;
}

.floatRight {
	float:right;
	text-align:right;
}

button {
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	background-color: coral;
	width: 100px;
}

.answerButton {
	visibility: hidden;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

#endContainer {
	visibility: hidden;
}

.initials {
	padding: 3px;
	border-radius: 3px;
	width: 40px;
}

#questionContainer {
	margin: 25px;
}

#answerContainer {
	margin: 25px;
}

#resultContainer {
	margin: 25px;
	border-top:dotted black 1px;
}

.scores {
	border: solid black 1px;
	background-color: beige;
	width:25%;
	margin-left:auto;
	margin-right:auto;	
	border-radius:5px;
}